<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div id="app">
        <div id="main">
            <div class="topbar"></div>
            <div class="container">
                <div class="row chat">
                    <div class="col-4">
                        <div class="row my_account align-items-center">
                            <div class="col-6">
                                <div class="user d-flex align-items-center">
                                    <div class="avatar_user">
                                        <img src="./assets/img/avatar_io.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="username fs_7 p-2">Sofia</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="user_details d-flex justify-content-end m-2">
                                    <i class="fa-solid fa-circle-notch"></i>
                                    <i class="fa-solid fa-message"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row notifiche">
                            <div class="d-flex align-items-center">
                                <div class="alert_icon d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-bell-slash"></i>
                                </div>
                                <div class="d-flex flex-column p-2">
                                    <div class="notifiche_text fs_7">Ricevi notifiche di nuovi messaggi</div>
                                    <small>Attiva notifiche desktop</small>
                                </div>
                            </div>
                        </div>
                        <div class="row search d-flex">
                            <div class="col-2 search_icon d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-search"></i>
                            </div>
                            <input class="col-10 search_input" type="search" v-model="searchContact"
                                @keyup="filter" placeholder="Cerca o inizia una nuova chat">
                        </div>
                        <div class="row open_chat">
                            <div v-for="(contact, index) in contacts" class="single_chat user d-flex align-items-center"
                                :class="contact_active === index ? 'active' : ''" @click="contact_active = index" v-if="filter(contact,index)">
                                <div class="avatar_user">
                                    <img :src="contact.avatar" alt="" class="img-fluid">
                                </div>
                                <div class="avatar_status d-flex flex-column p-2">
                                    <div class="username fs_7">{{contact.name}}</div>
                                    <small>Ultimo messaggio inviato</small>
                                </div>
                                <div class="hours">
                                    <small>12:00</small>
                                </div>
                            </div>
                            <!-- chat aperte -->
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row messages d-flex align-items-center">
                            <div class="col-6">
                                <div class="user d-flex align-items-center">
                                    <div class="avatar_user">
                                        <img :src="contacts[contact_active].avatar" alt="" class="img-fluid">
                                    </div>
                                    <div class="avatar_status d-flex flex-column p-2">
                                        <div class="username fs_7">{{contacts[contact_active].name}}</div>
                                        <small>Ultimo accesso oggi alle 12:00</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="user_details d-flex justify-content-end">
                                    <i class="fa-solid fa-search"></i>
                                    <i class="fa-solid fa-paperclip"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row body_message">
                            <div class="container_messages">
                                <div class="message" :class="message.status === 'sent' ? 'bg_green' : 'bg_white'"
                                    v-for="message in contacts[contact_active].messages">
                                    <p>{{message.message}}</p>
                                    <small class="time_message">{{message.date}}</small>
                                    <div class="icon-dropdown">
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </div>
                                </div>
                                <!-- /.message -->
                            </div>
                        </div>
                        <div class="row messages_footer align-items-center">
                            <div class="col-1 d-flex justify-content-center">
                                <i class="fa-regular fa-face-smile"></i>
                            </div>
                            <div class="col-10 d-flex justify-content-center">
                                <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage.message"
                                    @keyup.enter="addMessage">
                            </div>
                            <div class="col-1 d-flex justify-content-center">
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#main -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./assets/js/app.js"></script>
</body>

</html>