/* 
Colors
*/

:root {
--black: rgba(0, 0, 0, 1);
--topbar_color: rgba(0, 150, 136, 1);
--icons_dark: rgba(107, 115, 118, 1);
--notifiche: rgba(142, 218, 252, 1);
--icons_light: rgba(177, 177, 177, 1);
--primary_color: rgba(218, 219, 212, 1);
--contact_topbar: rgba(234, 234, 234, 1);
--bg_notifiche: rgba(242, 251, 255, 1);
--new_message: rgba(243, 238, 234, 1);
--bg_send_msg: rgba(213, 249, 186, 1);
--white: #ffffff;
}

/* 
body
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.fs_7 {
    font-size: 13px;
}

small {
    font-size: 10px;
    color: var(--icons_light);
}

input:focus {
    outline: none;
  }


/* 
main
*/

#main {
    height: 100vh;
    background-color: var(--primary_color);
}

.topbar {
    background-color: var(--topbar_color);
    height: 120px;
}

/* 
main
*/

.container {
    max-width: 1100px;
    margin: -6.5rem auto;
}

.chat {
    background-color: var(--white);
}


.my_account {
    border-right: 0.5px solid var(--icons_light);
    height: 60px;
    background-color: var(--contact_topbar);
}

.messages {
    height: 60px;
    background-color: var(--contact_topbar);
}


/* 
contacts
*/
.avatar_user > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user_details {
    gap: 1rem;
    color: var(--icons_light);
    font-size: 18px;
}


.avatar_status {
    gap: 0;
}



/* 
notifiche
*/

.alert_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white);
}

.alert_icon > i {
    color: var(--notifiche);
}

.notifiche {
    background-color: var(--notifiche);
    height: 60px;
}

.notifiche_text {
    font-weight: 00;
}

.notifiche small {
    color: var(--icons_dark);
    text-decoration: underline;
}


.search {
    background-color: rgb(250, 250, 250);
    padding: 0.5rem;
}

.search_icon {
    background-color: var(--white);
    border-radius: 2px;
    border: 0.3px solid rgba(205, 203, 203, 0.445);
}

.search_input {
    border: 0.3px solid rgba(205, 203, 203, 0.445);
    height: 30px;
    font-size: 12px;
    padding: 1rem;
    border-radius: 2px;

}

::placeholder {
    color: var(--icons_light);
}


.search_icon > i {
    font-size: 14px;
    color: var(--icons_light);
}

/* 
open chat
*/

.open_chat {
    background-color: var(--white);
}

.single_chat {
    border-top: 0.3px solid rgba(205, 203, 203, 0.445);
    position: relative;
    padding: 0.5rem;
}

.single_chat:hover{
    background-color:rgba(194, 191, 191, 0.536);
}



.hours > small {
    position: absolute;
    top: 2px;
    right: 10px;
}



/* 
messages
*/


.active {
    background-color: rgba(233, 235, 235, 1);
  }
  
  .container_messages{
      margin: 0rem auto;
      padding-top: 3rem;
      height: 650px;
  }
  
  .message{
      width: calc(100% / 12 * 5);
      position: relative;
      padding: 1rem;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
  }
  
  .bg_green{
      background-color: var(--bg_send_msg);
      margin-left: calc(100% / 12 * 7);
  }
  
  .bg_white{
      background-color: white;
  }


  .body_message{
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

.time_message{
    position: absolute;
    right: 0.25rem;
    bottom: 0.25rem;
    font-size: 10px;
    color: rgba(177, 177, 177, 1);
}

/* 
footer messages
*/

.messages_footer{
    background-color: var(--new_message);
    height: 50px;
}

.messages_footer i {
    color: var(--icons_dark);
    font-size: 18px;
}

.messages_footer input {
    border: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 14px;
}








