/* 
Colors
*/

:root {
--black: rgba(0, 0, 0, 1);
--topbar_color: rgba(0, 150, 136, 1);
--icons_dark: rgba(107, 115, 118, 1);
--notifiche: rgba(142, 218, 252, 1);
--icons_light: rgba(177, 177, 177, 1);
--primary_color: rgba(218, 219, 212, 1);
--contact_topbar: rgba(234, 234, 234, 1);
--bg_notifiche: rgba(242, 251, 255, 1);
--new_message: rgba(243, 238, 234, 1);
--bg_send_msg: rgba(213, 249, 186, 1);
--white: #ffffff;
}

/* 
body
*/

body {
    font-family: Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.fs_7 {
    font-size: 13px;
}



/* 
main
*/

#main {
    height: 100vh;
    background-color: var(--primary_color);
}

.topbar {
    background-color: var(--topbar_color);
    height: 120px;
}

/* 
main
*/

.container {
    max-width: 1100px;
    height: 600px;
    margin: -6.5rem auto;
}

.chat {
    background-color: var(--contact_topbar);
}

.contacts {
    border-right: 0.5px solid var(--icons_light);
    height: 60px;
}
.messages {
    height: 60px;
}

/* 
contacts
*/
.avatar_user > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user_details {
    gap: 1rem;
    color: var(--icons_light);
    font-size: 18px;
}

small {
    font-size: 10px;
    color: var(--icons_light);
}

.avatar_status{
    gap: 0;
}






